body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
 flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-image: url("../imagens/fundo.jpg");
  background-position: center ;
  background-size: 130%;
  overflow: hidden;
  background-color: rgb(150, 221, 221);
}
header
{
  width: 100%;
  height: 8vh ;
  background-color:rgb(21, 32, 65);
  display:flex;
  padding: 20px;
  color: rgb(224, 242, 245);
  font-size: 25px;
  font-family: 'Bayon';
  margin: 0%;
  Box-decoration-break: slice;-webkit-box-decoration-break: slice;box-shadow: 8px 8px 10px 0 #131414, -5px -5px 5px 0 rgb(18, 34, 37), 5px 5px 15px 0 rgb(35, 57, 59);
  justify-content: space-between ;
  margin: 2px;   
}
h1{
font-size: 3rem;
padding: 0%;
color: rgb(81, 200, 216);
}
.menu{

display: flex;
align-items: center;
 height: 8vh;
flex-direction: row;
justify-content: space-between;
width: 80%;
}
.icon{
 width: 200px;
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 20px;
}
.container
{
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  align-self: center;
}
fieldset
{
  width: 500px;
  height: 450px;
  background-color:rgb(21, 32, 65);
  border-radius: 30px;
  border: 1px;
  border-color: rgb(81, 200, 216);
  color: white;
  font-size: 25px;
  align-items: center;
  align-content: center;
}
.confirmar
{
  background-color: rgb(21, 32, 65);
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}
.confirma
{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: start;
}
.adicionais
{
  font-family: 'Alfa Slab one'; font-size: 40px;
  color: rgb(21, 32, 65);
}
.selecionado
{
  font-family: 'Alfa Slab one'; font-size: 40px;
  color: rgb(21, 32, 65);
}
.cima 
{
  position: relative;
  top: 30px;
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-items: start;
  align-items: center;
  align-content: center;
}
.voltar{
  font-family: 'Alfa Slab one'; font-size: 40px;
  color: rgb(21, 32, 65);
  display: flex;
  justify-content: start;
  width: 375px;

}
.botao
{
  background:none ;
  border: 0px;
  cursor: pointer;
}
.a1
{
  display: flex;
  flex-direction: row;
  justify-content: start;
}
/* Hide the default checkbox */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container2 {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.3em;
  user-select: none;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  gap: 25px;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50%;
  transition: .4s;
}

.checkmark:hover {
  box-shadow: inset 17px 17px 16px #b3b3b3,
            inset -17px -17px 16px #ffffff;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
  box-shadow: none;
  background-color: rgb(81, 200, 216);
  transform: rotateX(360deg);
}

.container2 input:checked ~ .checkmark:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  box-shadow: 0.1em 0.1em 0em 0 rgba(0,0,0,0.3);
  transform: rotate(45deg);
}




#menuToggle
 {
   display: block;
   position: relative;
   top: 12px;
   left: 50px;
  
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: rgb(81, 200, 216);
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color:    rgb(255, 255, 255);
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: rgb(81, 200, 216);
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background:rgb(81, 200, 216);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background:  rgb(21, 32, 65);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }