body{
    
   margin: 0;
    padding: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 160vh;
    box-sizing: border-box;
    background-image: url("../imagens/fundozao.jpg");
    background-position: center ;
    background-size: 100%;
    overflow-x: hidden;
    background-color: rgb(150, 221, 221);   
    align-content: center;
}
 header
 {
    width: 100%;
    height: 8vh ;
    background-color:rgba(15, 48, 56, 0.856);
    display:flex;
    padding: 20px;
    color: rgb(224, 242, 245);
    font-size: 25px;
    font-family: 'Bayon';
    margin: 0%;
    Box-decoration-break: slice;-webkit-box-decoration-break: slice;box-shadow: 8px 8px 10px 0 #131414, -5px -5px 5px 0 rgb(18, 34, 37), 5px 5px 15px 0 rgb(35, 57, 59);
    justify-content: space-between ;
    margin: 0px;   
   
}
h1{
    font-size: 3rem;
    padding: 0%;
    color: rgb(81, 200, 216);
    transition: 0.7;
}

.menu{
    
    display: flex;
    align-items: center;
     height: 8vh;
    flex-direction: row;
    justify-content: space-between;
    width: 80%  ;



}
.icon{
     width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    transition: 0.7;
    padding: 5px;
}
h1:hover{
  height: 130%;
  cursor: pointer;
 }
.submarino:hover{
height: 80px;
width: 80px;
cursor: pointer;

}
.submarino{
  transition: 0.5;
}




.conta{
  transition: 0.5;
  top: 80px;
}
.conta:hover{
  

  cursor: pointer;

}

.tres{
    margin-left: 20px;
}
#menuToggle
 {
   display: block;
   position: relative;
   top: 12px;
   left: 50px;
  
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: rgb(81, 200, 216);
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color:    rgb(255, 255, 255);
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: rgb(81, 200, 216);
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background:rgb(81, 200, 216);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 200px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background:  rgb(21, 32, 65);
 
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
  .caixona{
    width: 100%;
    height: 70vh;
  
    align-items: center;

    flex-direction: column;
    border-radius: 10px;
    color: #96DDDD;
    font-family: 'bayon'; 
    box-sizing: border-box;
    align-content: center;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    padding: 40px;
    


    
}

.fora
{
    width: 70%;
    height: 80vh;
    margin-top: 10;
    display: flex;
    
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    padding: 0px;
    
}


 
.imagem
{
    position: absolute; 
    top:0px;
    left:0px;
}
.moldura
{
  width: 1000px;
  height: 550px;
  position: relative; /* Todas as imagens estão dentro da moldura */
  align-items: center;
  border: 8px solid black;
  justify-content: center;
  justify-items: center;
  border-radius: 5px;
  
}
.sobre{
  
    width: 90%;
    height: 240vh;
     
    align-items: center;
    background-color: #131414;
    flex-direction: column;
    border-radius: 10px;
    color: #96DDDD;
    font-family: 'Monaco'; 
    box-sizing: border-box;
    justify-items: center;
    align-content:  center;
    font-size: 20px;
    text-align: justify;
    padding: 50px;
    margin: 50px;

    
}
.centered{
  width:100%;
  height:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:#000;
  filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
  width:70px;
  height:70px;
  position:absolute;
  background:#fff;
  border-radius:50%;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
}
.blob-1{
  left:20%;
  animation:osc-l 2.5s ease ;
}
.blob-2{
  left:80%;
  animation:osc-r 2.5s ease;
  background:#0ff;
}
@keyframes osc-l{
  0%{left:20%;}
  50%{left:50%;}
  100%{left:20%;}
}
@keyframes osc-r{
  0%{left:80%;}
  50%{left:50%;}
  100%{left:80%;}
}

